In [13]:
import os
import pandas as pd 
from sklearn.model_selection import train_test_split

In [9]:
dataset_path = 'D:\manualCDmanagement\codes\Projects\VMs\skl algorithms\Logistic Regression/00_datasets\HR'
file_name = 'HR_dataset.csv'
path_file = os.path.join(dataset_path, file_name)
df = pd.read_csv(path_file)
df.head()

not_droped = ['Department', 'salary']

for column in df.columns:
    if column in not_droped:
        df[column], _ = pd.factorize(df[column])

df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,0,0
1,0.80,0.86,5,262,6,0,1,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0

In [16]:
X = df.drop('left', axis=1)
y = df['left']

X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.2, random_state=42)